<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>회원가입</title>
</head>
<body>
    < 가입이 되어있지 않습니다! >
    < 사용할 아이디와 비밀번호를 입력하세요 >
    <form action="/register_process" method="POST">
        <br>아이디&nbsp&nbsp&nbsp&nbsp:&nbsp<input type="text" name="userId">
        <br>비밀번호&nbsp:&nbsp<input type="text" name="userPw">
        <br><button>회원가입</button>
      </form>
</body>
</html>