<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>회원가입 성공 메인페이지</title>
</head>
<body>
    <div class="register_success">가입에 성공하셨습니다!</div>
    <a href="/check">위조확인</a>
    <div class="heading">
        <fieldset class="field_set">
            <legend>메뉴</legend>
            <ul>
                <li><a href="/check" class="link_page">일기쓰러가기</a></li>
                <li><a href="/check" class="link_page">일기장가기</a></li>
            </ul>
        </fieldset>
    </div>
</body>
</html>